.rbc-calendar {
    box-sizing: border-box;
    display: flex;
    height: 91.666667%;
    flex-direction: column;
    align-items: stretch;
}

.rbc-toolbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 16px;
}

.rbc-btn-group {
    box-shadow: 5px 5px 5px rgb(235, 235, 235);
    border-radius: 8.5px;
}

.rbc-toolbar button:active, .rbc-toolbar button.rbc-active {
    background-image: none;
    box-shadow: none;
    background-color: #5358e2;
    border-radius: 8.5px;
    color: #ffffff;
}

.rbc-toolbar button.rbc-active:hover, .rbc-toolbar button.rbc-active:focus {
    color: #ffffff;
    background-color: #5358e2;
    border: none;
}

.rbc-toolbar button {
    color: #373a3c;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border-radius: 8.5px;
    border: 1px;
    padding: 0.375rem 1rem;
    line-height: normal;
    white-space: nowrap;
}

.rbc-toolbar .rbc-toolbar-label {
    flex-grow: 1;
    padding: 0 10px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
}

@media (max-width: 600px) {
    .rbc-btn-group,
    .rbc-toolbar-label {
      display: block; /* Ensure each span takes up a new line */
      margin-bottom: 7px; /* Add spacing between each span */
    }

    .rbc-calendar {
        height: 53rem;
    }

    .rbc-month-view {
        height: 42rem;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .rbc-month-header {
        display: flex;
        flex-direction: row;
        height: 2rem;
        width: 49rem;
    }

    .rbc-month-row {
        height: 7rem;
        overflow: visible;
        width: 49rem;
    }

    .rbc-row-bg {
        display: flex;
        flex-direction: row;
        flex: 1 0;
        overflow: hidden;
        height: 7rem;
        width: 49rem;
    }

    .rbc-day-bg {
        flex: 1 0;
        height: 7rem;
        width: 7rem;
    }

    .rbc-row-content {
        position: relative;
        user-select: none;
        -webkit-user-select: none;
        z-index: 4;
        height: 7rem;
    }
}

.rbc-month-view {
    position: relative;
    border: 1px solid #ffffff;
    display: flex;
    flex-direction: column;
    flex: 1 0;
    width: 100%;
    user-select: none;
    -webkit-user-select: none;
    height: 100%;
}

.rbc-header {
    overflow: hidden;
    flex: 1 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 3px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    font-size: 90%;
    min-height: 0;
    border-bottom: 1px solid #ddd;
}

.rbc-today {
    background-color: #dadbf2;
}

.rbc-time-view {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    width: 100%;
    border: 1px solid #ffffff;
    min-height: 0;
}

.rbc-agenda-view table.rbc-agenda-table {
    width: 100%;
    border: 1px solid #ffffff;
    border-spacing: 0;
    border-collapse: collapse;
}

/* Customize the scrollbar */
::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    border-radius: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
    margin-left: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b4b7c4;
    border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #292F3B;
}

.rbc-event, .rbc-day-slot .rbc-background-event {
    border: none;
    box-sizing: border-box;
    box-shadow: none;
    margin: 0;
    padding: 0.1rem 15px;
    background:#5358e2a2;
    color: #ffffff;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 20px;
}

.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
    background-color: #3c42e8;
}

.rbc-row-segment {
    padding: 0 1px 1px 1px;
}